<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]="true" mode="side" >
    <div class="top-text mb-32 pl-16">
      <h1 class="f-size-16">Content Manager</h1>
    </div>

    <ul>
      <li routerLink="description">Beschreibungen</li>
      <li>Druckbogenummern</li>
    </ul>
   
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      

        <span>Kettler-DB</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>