<mat-card>

    <mat-card-header class="mb-32">Hardcover</mat-card-header>


    <!-- <table>
        <tr>
            <th>Keys</th>
            <th>Values</th>
        </tr>
        <tr>
            <td>Format</td>
            <td>210 mm x 297 mm, Hochformat</td>
        </tr>
        <tr>
            <td>Umfang</td>
            <td>Umschlag: 4 Seiten<br>
                Innen: 48 Seiten</td>
            
        </tr>
    </table> -->

    <div class="description-box">
        <div class="row-box mb-8">
            <div class="column-box-left"><h3>Format</h3></div>
            <div class="column-box-right"><h3>210 mm x 297 mm, Hochformat</h3></div>
        </div>
        <div class="row-box">
            <div class="column-box-left"><h3>Umfang</h3></div>
            <div class="column-box-right">
                <h3>Umschlag: 4 Seiten</h3>
                <h3>Innen: 48 Seiten</h3>
                <h3>Innen: 48 Seiten</h3>
            </div>
        </div>
    </div>

</mat-card>
